body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

#title {
  position: absolute;
  width: 600px;
  height: 200px;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  top: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans Condensed",Sans-Serif;
  font-weight: bold;
  font-size: 40px;
}

#header-area-text {
  color: rgba(255, 255, 255, 0.8);
}

/*---Question Area---*/

#question-area {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 400px;
  height: 200px;
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: rgba(250, 223, 99, 1);
  font-size: 100px;
  font-family: "Open Sans", sans-serif;
  border: 2px rgba(71, 86, 87, 1) dotted;
}

#streak-counter {
  font-size: 15px;
  line-height: 15px;
  font-family: "Open Sans Condensed", sans-serif;
  position: absolute;
  text-align: right;
  top: 3px;
  right: 3px;
}

/*---End Question Area---*/

/*---Keyboard Graphic---*/

#keyboard-graphic {
  width: 711px;
  height: 138px;
  padding: 8px;
  border-radius: 2px;
  margin: auto;
}

.keyrow {
  height: 46px;
  position: relative;
}

.keys {
  background-color: rgba(71, 86, 87, 1);
  /*border-radius: 2px;*/
  border: 2px rgba(57, 58, 16, 1) solid;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: rgba(198, 197, 185, 1);
  float: left;
  height: 35px;
  width: 35px;
  text-align: left;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  margin: 2px;
}

.keys.text {
  font-size: 12px;
}

#tab-key {
  width: 60px;
}

#caplocks-key, #enter-key {
  width: 72px;
}

#lshift-key {
  width: 96px;
  background-color: rgba(250, 223, 99, 1);
  color: rgba(57, 58, 16, 1);
}

#rshift-key {
  width: 97px;
  background-color: rgba(250, 223, 99, 1);
  color: rgba(57, 58, 16, 1);
}

.koreanChar {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  position: relative;
  top: -25px
}

.koreanChar.shiftChar {
  color: rgba(250, 223, 99, 1);
}

/*---End Keyboard Graphic---*/

#sidebar-icons {
  position: absolute;
  top: 300px;
  text-align: center;
  top: 250px;
  left: 0px;
  right: 470px;
  margin: 0 auto;
  width: 50px;
}

#sidebar-icons img {
  width: 50px;
}

/*---Study Pop-up---*/

#popup1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
}

.overlay {
  visibility: hidden;
  opacity: 0;
}

.overlayShow {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  padding: 25px;
  padding-top: 35px;
  background: #fff;
  width: 727px;
  height: 154px;
  top: 0;
  bottom: 425px;
  left: 0;
  right: 0;
  position: absolute;
  /*transition: all 5s ease-in-out;*/
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: rgba(250, 223, 99, 1);
}

/*---End Study Pop-up---*/

footer {
  color: rgba(240, 96, 96, 1);
  font-family: "Open Sans",Sans-Serif;
  padding: 10px 10px 10px 10px;
  height: 30px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  float: left;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 14px;
}
